.regular-btn{
    height: 60px;
    width: 279px;
    border-radius: 20px;
    background-color: #90CDF4;
    font-size: 17px;
    transition: .2s;
}

.regular-btn:hover{
    background-color: #80BEEE;
    /* background-color: #2795DB; */
    /* background-color: #2795DB; */
    /* color: white; */
    cursor: pointer;
    transition: .2s;
}

.google-btn{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: 500;
    font-size: 17px;
}