*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    background-color: #2795DB;
}

section{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: solid saddlebrown;
}

.conteiner{
    background-color: #ffff;
    width: 40%;
    margin-left: 140px;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;

}

h1{
    font-size: 60px;
    font-weight: 600;
    margin-bottom: 50px; ;
}

.img-form{
    width: 20px;
    position: relative;
    top: 5px;
    right: 43px;
}
.side-img{
    width: 600px;
}

form{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60%;

}

input{
    margin: 10px;
    height: 50px;
    width: 350px; 
    border-radius: 20px;
    background-color: #E8E8E8;
}

button{
    height: 15%;
    width: 40%;
    border-radius: 20px;
    background-color: #90CDF4;
    font-weight: 600;
}


.text-above{
    display: flex;
    width: 105%;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: solid #90CDF4;
    border-radius: 20px;
    background-color: #90CDF4;
}

.redes{
    height: 20%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin-bottom: 50px;
}

.text-bellow a{
    color: #2795DB;
}
.text-bellow{
    color: #2795DB;
    font-size: 15px;
    width: 100%;
}

a{
    text-decoration: none;
    color: black;
}
