@import url("./inputButton.css");
@import url("./button.css");

body{
    width: 100%;
    height: 100vh;
    background-color: #2795DB;
}

section{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    gap: 70px;
    align-items: center;
}

.container{
    background-color: #ffff;
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    padding: 50px;

}

.logo {
    width: 80px;
    height: 80px;
}

.brand {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

h1{
    font-size: 48px;
}

.termos{
    display: flex;
    gap: 10px;
}
.termos input{

    width: 20px;
    
}

h2{
    font-size: 18px;
}

.img-form{
    width: 20px;
    position: relative;
    top: 5px;
    right: 43px;
}
.side-img{
    width: 40%;
}

form{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60%;
    gap: 20px;

}

.form-inputs {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.input-container input{
    height: 50px;
    width: 100%;
}

.text-above{
    height: 60px;
    width: 240px;
    border: none;
    border-radius: 20px;
    background-color: #90CDF4;
}


.text-above{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.text-bellow{
    font-size: 15px;
}

.link-login {
    color: #2795DB;
}

@media(max-width: 970px){

    .side-img{
        display: none;
    }

}

@media(max-width:540px){

    body{
        background-color: #ffff;
    }

    h1{
        font-size: 28px;
    }
    .logo{
        width: 40px;
    }
    .text-above{
        width: 0px;
    }

    .text-above img{
        height: 40px;
    }

    .sla p{
        display: none;
    }
    .container{
        width: 100%;
        height: 100%;
        border-radius: 0px;
        gap: 100px;
        padding: 0px;
        margin-bottom: 25N0px;
    }
    form{
        height:fit-content;
    }
}


@media(max-width: 356px){

    h2{
        font-size: 15px ;
    }

}
@media(max-width: 292px){
    h2{
        font-size: 12px;
    }
}

@media(max-height:656px){
    .container{
        gap: 50px;
    }
    .texto{
        gap: 20px;
    }
}
@media(max-height:481px){
    
    .container{
        gap: 0px;
    }
    .texto{
        gap: 10px;
    }
}