:root {
    --input-padding: 20px;
}

.input-container{
    position: relative;
    width: 350px; 
    border-radius: 20px;
    padding: 0 0px;
}

.input-container input{
    background-color: #E8E8E8;
    padding: var(--input-padding);
    border: none;
    width: 100%;
    border-radius: 20px;
    outline: none;
}

.input-container input:focus{
    outline: 2px solid grey;
}

.icon-btn{
    border: none;
}

.input-container .material-symbols-outlined {
    user-select: none;
}

.input-container label>span, .icon-btn{
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(calc(-1 * var(--input-padding)), -50%);
}


@media(max-width: 651px){

    .input-container input{
        background-color: #E8E8E8;
        padding: var(--input-padding);
        border: none;
        width: 100%;
        border-radius: 20px;
        outline: none;
    }

}

@media(max-width: 360px){
    .input-container{
        width: 300px; 
    }
}
@media(max-width: 315px){
    .input-container{
        width: 280px; 
    }
}
@media(max-width: 285px){
    .input-container{
        width: 250px; 
    }

}
