@import url("./inputButton.css");

@import url("./button.css");

body{
    background-color: #2795DB;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    gap: 80px;
    /* flex-direction: row-reverse; */

}

.brand{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-weight: 300;
    font-size: 30px;
}

.google-logo{
    width: 30px;
}

.container{
    width: 50%;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 40px;
    height: fit-content;
    margin-top: 60px;
    margin-bottom: 60px;
    margin-right: 50px;
    padding:70px;
    gap:30px;
}

.side-img{
  width: 50%;
}

.redes{
    display: flex;
    width: 279px;
    height: 60px;
    justify-content: center;
    align-items: center;
}

.lin{
    display: flex;
    flex-direction: column;
}

form{
    display: flex;
    gap:20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin-top: 60px;
}

.error {
    color: rgb(227, 65, 65);
}
.success {
    color: aquamarine;
    display: none;
}

input{
    height: 50px;
    width: 390px; 
}

.link-cadastro {
    color: #2795DB;
}

@media(max-width: 1060px){

    .side-img{
        display: none;
    }
    .container{
        width: 80%;
        margin-right: 0px;

    }

}
@media(max-width: 445px){

    *{
        height: fit-content;
    }

    body{
        background-color: #ffffff;
        height: fit-content;
    }

    .container{
        width: 100%;
        margin-top: 0px;
        margin-bottom: 0px;
        max-height: fit-content;
    }
    .google-bt{
        display: none;
    }

   .container{
        gap: 100px;
    }
   

    .brand h1{
        font-size: 24px;
    }
    .logo{
        width: 40px;
    }

}

