*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, Arial, Helvetica, sans-serif;

}

body{
    background-color: #2795DB;
    display: flex;
    align-items: center;
    width: 100vh;
    height: 100vh;
    justify-content: space-around;
    flex-direction: row-reverse;

}

.google-logo{
    width: 30px;
}

.container{
    width: 60%;
    height: 85%;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 60px;
    border-radius: 40px;
    border: solid saddlebrown;
    margin-left: 100px;
}

.side-img{
    margin-left: 600px;
}

h1{

    margin-bottom: 20px;
    margin-top: 50px;

}

.redes{
    display: flex;
    margin-top: 15px;
    margin-bottom: 70px;
    width: 279px;
    height: 170px;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.text-above{
    display: flex;
    width: 279px;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: solid #90CDF4;
    border-radius: 20px;
    background-color: #90CDF4;
}

.text-bellow{
    margin-top: 10px;
    color: #2795DB;
    font-size: 15px;
    width: 95%;
}


form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
}

input{
    margin: 20px;
    height: 50px;
    width: 350px; 
    border-radius: 20px;
    background-color: #F0E9E9;
}

button{
    height: 60px;
    width: 279px;
    border-radius: 20px;
    margin-top: 45px;
    margin-bottom: 20px;
    background-color: #90CDF4;
}

span{
    font-size: 30px;
    color: #252525;
}

.forms-container{
    display: flex;
    align-items: center;
}

.forms-container img{
    position: relative;
    right: 50px;
    width: 20px;
    padding: 0;
    
}

a{
    text-decoration: none;
    color: black;
}

.text-bellow a{
    color: #2795DB;
}
