*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

a{
    text-decoration: none;
    color: #000;
}

button {
    background: none;
    border: none;
}
