body{
    background-color: #2795DB;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logo{
    width: 80px;
    height: 80px;
}
header{
    display: flex;
    margin-top: 50px;
    margin-bottom: 30px;
}

header h1{
    width: 224px;
    height: 75px;
    font-size: 64px;
    line-height: 75px;
}

.erro{
    width: 858.4px;
    height: 470px;
}
section{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

section h1{
    font-size: 48px;
    line-height: 56px;
    margin-top: 20px ;
}
