body{
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

header{
    width: 80%;
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.blue-text{
    display: none;
}

il{
    margin: 5px;
}

.brand{
    display: flex;
    align-items: center;
}

.logo{
    width: 48px;
    height: 48px;
    margin-right: 10px;
}

section{
    display: flex;
    width: 100%;
    height: 90%;
    justify-content: space-around;
    align-items: center;
}



h2{
    font-size: 72px;
    text-align: center;
}
p{
    font-size: 30px;
}

span{
    background-color: #90CDF4;
    padding: 15px;
    border-radius: 10px;
}
span:hover{
    transition: 2s;
    background-color: #52a2d4;
    transform: scale(1.2,1.2);
}

.texto{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin-left: 100px;
   width: 50%;
   gap: 20px;
}
img{
    width: 500px;

}

@media (max-width: 950px) {


    img{
        width: 350px;
    }

    .texto{

        margin-left: 20px;

    }

    .texto h2{
        font-size: 30px;
    }
    .texto p {
        font-size: 20px;
    }

}


@media (max-width: 653px){

    .img {
        display: none;
    }

    .texto{
        width: fit-content;
    }

}

@media (max-width: 500px){
    .top{
        display: none;
    }
    .texto p{
        display: none;
    }
    .texto h2{
        display: flex;
        align-items: center;
        font-size: 30px;
        width: 100%;
        height: 250px ;
    }
    .texto{
        width: auto;
        margin-left: 0;
        margin-top: 0px;
    }
    .texto span{
        font-size: 20px;
        padding: 20px;
        padding-left: 60px;
        padding-right: 60px;
        margin-bottom: 30px;
    }

    header{
        margin-bottom: 0px;
        width: 100%;
    }

    .logo{
        margin-left: 10px;
    }
    
    a {
        font-size: 20px;
    }
    
    section{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .blue-text{
        display: flex;
        margin-bottom: 20px;
        color: #52a2d4;
    }

}

@media(max-width:310px){

    h1{
        font-size: 30px;
    }
}
@media(max-width: 280px){

    h1{
        font-size: 20px;
    }

    .texto h2{
        font-size: 20px;
        height: auto;
    }
    .texto span{
        padding: 15px;
    }
}